@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

header {
  height: 70px;
  z-index: 5;
  box-shadow: 0px 3px 7px 2px grey;
  display: flex;
  position: relative;
}

h1 a {
  text-decoration: none;
  color: white;
  margin-left: 100px;
  transition: 0.5s;
}

h1 a:hover {
  color: orange;
}

#header_background {
  background: linear-gradient(to right, #0894fc, turquoise);
  height: 70px;
  width: 100%;
  display: flex;
}

.logo {
  height: 70px;
}

#gordon {
  background-image: url(hellskitchen-gordonramsay.jpg);
  font-size: 50px;
  color: #47afff;
  height: 500px;
  justify-content: center;
  align-items: center;
  text-shadow: 5px 5px 5px black;
}

#quote {
  position: absolute;
  top: 30%;
  left: 45%;
  width: 50%;
}

#background {
  background-color: turquoise;
  width: 100vw;
  height: 40vh;
  box-shadow: 0px -3px 7px 2px turquoise;
  justify-content: space-around;
  font-size: 30px;
  padding: 20px;
  color: black;
  display: flex;
}

label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #69d2e7;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #69d2e7;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
}

label a {
  margin-bottom: 1em;
  display: block;
  font-size: 35px;
  color: turquoise;
  text-decoration: none;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

footer {
  background-color: rgb(0, 46, 147);
  height: 20vh;
  padding: 2vw;
  font-size: 30px;
  line-height: 7vh;
  color: white;
  border: 0;
  border-top: 1vh;
  border-style: double;
  box-shadow: -2px 2px 45px 6px rgb(0, 46, 147);
  display: flex;
  justify-content: space-between;
}

article {
  width: 100vw;
  height: 50vh;
  box-shadow: 0px -3px 7px 2px #0894fc;
  background-color: #0894fc;
  display: flex;
  padding: 5vh;
  justify-content: space-evenly;
}

.recipe_pic1 {
  background-image: url(snabbt-och-enkelt-till-vardags.jpg.webp);
  background-size: cover;
  padding-right: 5vh;
  border: 7px;
  border-style: groove;
  width: 30%;
}

.recipe_pic2 {
  background-image: url(ugnsgratinerad_falukorv.jpg);
  background-size: cover;
  padding-right: 5vh;
  border: 7px;
  border-style: groove;
  width: 30%;
}

.recipe_pic3 {
  background-image: url(Glizzy-Hot-Dog-1024x767.png);
  background-size: cover;
  padding-right: 5vh;
  border: 7px;
  border-style: groove;
  width: 30%;
}

article ol {
  line-height: 30px;
  width: 40vw;
}

article ul {
  padding-top: 2vh;
}

.ingredients {
  padding-left: 30px;
  padding-top: 20px;
  transition: 1s;
  width: 101.5%;
  height: 94.5%;
  color: rgba(0, 187, 174, 0);
}

.ingredients:hover {
  background-color: rgba(0, 187, 174, 0.9);
  background-size: cover;
  color: black;
}

#contact_bg {
  background-image: url(culinary_terms-hero-1-@2x-1.jpg);
  background-size: cover;
  filter: blur(5px);
  height: 100vh;
}

form {
  background-color: turquoise;
  width: 30vw;
  position: absolute;
  top: 20vh;
  min-width: 250px;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 3vw;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 15, 0.75);
}
#form_center {
  display: flex;
  justify-content: center;
}
input {
  padding: 1vw;
  border-radius: 0.5vw;
}

textarea {
  padding: 1vw;
  border-radius: 0.5vw;
}

input[type="submit"] {
  background-color: rgb(0, 200, 0);
  transition: 0.5s;
}

input[type="submit"]:hover {
  background-color: rgb(0, 255, 0);
}

.icons {
  color: white;
  font-size: 70px;
}

.icons:hover {
  text-shadow: 0px 0px 15px;
}

.Ugns_G {
  background-color: #69d2e7;
  box-shadow: 0px -3px 7px 2px #69d2e7;
}

#om_oss {
  width: 50vw;
  border: 10px;
  border-style: outset;
  border-color: rgb(49, 152, 142);
  box-shadow: 0 0 10px black;
  padding: 10px;
  padding-left: 15px;
  height: fit-content;
  margin-top: 30px;
}

@media screen and (max-width: 992px) {
  #om_oss {
    font-size: 45px;
  }

  #quote {
    top: 15%;
    left: 60%;
    width: 40%;
  }

  .recipe_pic1 {
    height: 300px;
  }

  .recipe_pic2 {
    height: 300px;
  }

  .recipe_pic3 {
    height: 300px;
  }

  article ol {
    line-height: 35px;
    font-size: 23px;
  }

  .ingredients {
    width: 115%;
    font-size: 20px;
    overflow: hidden;
    overflow-y: scroll;
  }

  form {
    padding-left: 30px;
    font-size: 30px;
    width: 50vw;
  }

  form input {
    width: 250px;
    height: 30px;
  }

  form textarea {
    width: 250px;
    height: 100px;
  }

  form #submit {
    width: 100px;
    height: 40px;
  }
}

@media screen and (max-width: 600px) {
  #gordon {
    margin-left: -30%;
  }
  #quote {
    width: 80vw;
    top: 40vh;
    left: 10%;
  }
  #om_oss {
    font-size: 20px;
    margin-left: -10%;
  }
  #background {
    height: 300px;
  }
  footer {
    height: fit-content;
    display: block;
    font-size: 22px;
  }
  article {
    display: block;
    height: fit-content;
  }
  article ol {
    width: 90vw;
  }
  .recipe_pic1 {
    width: 70vw;
  }
  .recipe_pic2 {
    width: 70vw;
  }
  .recipe_pic3 {
    width: 70vw;
  }
  .ingredients {
    font-size: 18px;
    width: 106%;
  }
  form {
    width: 80vw;
  }
}
