@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", "sans serif";
}

header {
  height: 70px;
  z-index: 5;
  box-shadow: 0px 3px 7px 2px grey;
  display: flex;
  position: relative;
}

#header_background {
  background: linear-gradient(to right, #0894fc, turquoise);
  height: 70px;
  width: 100%;
}

.logo {
  height: 70px;
}

.mittendel {
  display: flex;
}

.lista_rubrik {
  padding: 30px;
}

#pizza_quote {
  background-image: url(hellskitchen-gordonramsay.jpg);
  font-size: 70px;
  color: white;
  height: 490px;
  justify-content: center;
  align-items: center;
  text-shadow: 5px 5px 5px black;
}

#background {
  background-color: turquoise;
  width: 80vw;
  height: 375px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
