@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", "sans serif";
}

header {
  height: 70px;
  z-index: 5;
  box-shadow: 0px 3px 7px 2px grey;
  display: flex;
  position: relative;
}

#header_background {
  background: linear-gradient(to right, #0894fc, turquoise);
  height: 70px;
}

.logo {
  height: 70px;
}

.om_oss {
  font-size: 50px;
  margin-left: 50px;
}
