@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", "sans serif";
}

header {
  background: linear-gradient(to right, #0894fc, turquoise);
  height: 70px;
  margin-left: 111.71px;
  box-shadow: 0px 3px 7px grey;
  /* måste göra så att det endast är på botten */
  color: white;
}

.logo {
  height: 70px;
  position: absolute;
  left: 0;
  box-shadow: 0px 3px 7px 2px grey;
}

.om_oss {
  font-size: 50px;
  margin-left: 50px;
  padding-top: 5px;
}
